{% extends "base.html" %}
{% load querystring_utils %}
{% block title %}
  Страница пользователя {{ profile.username }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Страница пользователя {{ profile.username }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Имя пользователя: {% if profile.get_full_name %} {{ profile.get_full_name }} {% else %}не указано{% endif %}</li>
      <li class="list-group-item text-muted">Регистрация: {{ profile.date_joined }}</li>
      <li class="list-group-item text-muted">Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      {% if user.is_authenticated and request.user == profile %}
      <a class="btn btn-sm text-muted" href="{% url 'ads:edit_profile' request.user.id %}">Редактировать профиль</a>
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      {% endif %}
    </ul>
  </small>
  <br>
  {% if check == None %}
    {% include "includes/search_proposal.html" %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="mb-4 text-center">Отправленные предложения </h3>
          {% if sent_proposals %}
            {% for proposal in sent_proposals %}
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Предложение №{{ proposal.id }}</h5>
                  <p class="card-text">
                    Ваше объявление: <a href="{% url 'ads:ad_detail' proposal.ad_sender.id %}">{{ proposal.ad_sender.title }}</a><br>
                    Пользователю: <a href="{% url 'ads:profile' proposal.ad_receiver.username %}">{{ proposal.ad_receiver.username }}</a><br>
                    Статус: {{ proposal.get_status_display }}<br>
                    Дата: {{ proposal.created_at|date:"d.m.Y" }}
                  </p>
                  {% if proposal.status == 'awaiting' %}
                    <a href="{% url 'ads:delete_proposal' proposal.id %}" class="btn btn-sm btn-outline-danger">Отозвать</a>
                    <a href="{% url 'ads:edit_proposal' proposal.id %}" class="btn btn-sm btn-outline-secondary">Изменить статус</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            {% include "includes/paginator_sent.html" %}
          {% else %}
            <div class="alert alert-info">Вы не отправляли предложений обмена</div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <h3 class="mb-4 text-center">Полученные предложения</h3>
          {% if received_proposals %}
            {% for proposal in received_proposals %}
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Предложение #{{ proposal.id }}</h5>
                  <p class="card-text">
                    От пользователя: <a href="{% url 'ads:profile' proposal.ad_sender.user.username %}">{{ proposal.ad_sender.user.username }}</a><br>
                    Их объявление: <a href="{% url 'ads:ad_detail' proposal.ad_sender.id %}">{{ proposal.ad_sender.title }}</a><br>
                    Статус: {{ proposal.get_status_display }}<br>
                    Дата: {{ proposal.created_at|date:"d.m.Y" }}
                  </p>
                  {% if proposal.status == 'awaiting' %}
                    <a href="{% url 'ads:change_proposal' proposal.id 'accepted' %}" class="btn btn-sm btn-outline-success">Принять</a>
                    <a href="{% url 'ads:change_proposal' proposal.id 'cancelled' %}" class="btn btn-sm btn-outline-danger">Отклонить</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            {% include "includes/paginator_receiver.html" %}
          {% else %}
            <div class="alert alert-info">Вам не поступало предложений обмена</div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif%}
  <h3 class="mb-5 text-center">Объявления пользователя</h3>
  {% include "includes/search_ad.html" %}
  {% for ad in page_obj %}
    <article class="mb-5">
      {% include "includes/ad_card.html" %}
    </article>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}