{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'ads:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Plat Barter
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:about' %} text-white {% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <a href="{% url 'ads:create_ad' %}" 
                class="btn btn-outline-primary {% if view_name == 'ads:create_ad' %}active{% endif %}">
                Написать объявление
              </a>
              <a href="{% url 'ads:create_proposal' %}" 
                class="btn btn-outline-primary {% if view_name == 'ads:create_proposal' %}active{% endif %}">
                Предложить обмен
              </a>
              <a href="{% url 'ads:profile' user.username %}" 
                class="btn btn-outline-primary {% if view_name == 'ads:profile' %}active{% endif %}">
                {{ user.username }}
              </a>
              <a href="{% url 'logout' %}" 
                class="btn btn-outline-primary">
                Выйти
              </a>
            </div>
          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <a href="{% url 'login' %}" 
                class="btn btn-outline-primary {% if view_name == 'login' %}active{% endif %}">
                Войти
              </a>
              <a href="{% url 'registration' %}" 
                class="btn btn-outline-primary {% if view_name == 'registration' %}active{% endif %}">
                Регистрация
              </a>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>