<div class="container-fluid">
    <form class="d-flex" method="get" action="{% url 'ads:profile' profile.username %}">
        <select class="form-select me-2" name="sender">
            <option value="">Любой отправитель</option>
            {% for user in users %}
                <option value="{{ user.id }}" 
                    {% if request.GET.sender == user.id|stringformat:"s" %}selected{% endif %}>
                    {{ user.username }}
                </option>
            {% endfor %}
        </select>
        <select class="form-select me-2" name="receiver">
            <option value="">Любой получатель</option>
            {% for user in users %}
                <option value="{{ user.id }}"
                    {% if request.GET.receiver == user.id|stringformat:"s" %}selected{% endif %}>
                    {{ user.username }}
                </option>
            {% endfor %}
        </select>
        <select class="form-select me-2" name="status_proposal">
            <option value="">Любое статус</option>
            {% for status in statuses %}
                <option value="{{ status }}"
                    {% if request.GET.status_proposal == status %}selected{% endif %}>
                    {{ status }}
                </option>
            {% endfor %}
        </select>
        
        <button class="btn btn-outline-success" type="submit">Поиск</button>
        <a href="{% url 'ads:profile' profile.username %}" class="btn btn-outline-secondary ms-2">Сбросить</a>
    </form>
  </div><br>